.page {
    width: 30%;
    height: auto;
    margin: 0% auto;

}

header {
    width: 100%;
    height: 300px;
    background-image: url(../assets/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.btn-standard{
    width: 40%;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: #0b5684;
    border: none;
}

.btn-standard:hover{
    background-color: rgba(0, 0, 0, 0.565);
    color: white;
}

#btnSignIn{
    background-color: #006400;
}

#btnSignIn:hover{
    background-color: rgba(0, 0, 0, 0.565) ;
}

#btnForgetPassword{
    width: 60%;
    height: 50px;
    background-color: #8B0000;  
}

#btnForgetPassword:hover{
    background-color: rgba(0, 0, 0, 0.565) ;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    margin: 20px;
    padding: 10px;
    transition: 1s;
}

input:focus {
    transition: 1s;
    border-radius: 10px;
    background-color: #0b5684;
    color: white;
}

input:focus::placeholder {
    color: white;
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border: 1px solid black;
}

td,
th {
    border: 1rem solid black;
    padding: 15px;
}

#btn{
    width: 100%;
    margin: 2% 25%;
}