* {
    margin: 0%;
    padding: 0%;
    font-size: 20px;
}

.pagina {
    width: 25%;
    height: 600px;
    margin: 0% auto;
   
}

header{
    width: 100%;
    height: 300px;
    background-image: url(../assets/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

input{
    width: 90%;
    border: none;
    border-bottom: 1px solid gray;
    margin: 20px;
    padding: 10px;
    transition: 1s;
}

input:focus{   
    transition: 1s;
    border-radius: 10px;
    background-color: #0b5684;
    color: white;
}
input:focus::placeholder{
    color: white;
}



table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    padding: 15px;
}

.btn-standard{
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: #0b5684;
    border: none;
}

.btn-standard:hover{
    background-color: rgba(0, 0, 0, 0.565);
    color: white;
}